/*
Author: Josh T
File Name: main.css for Lab 4
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/*set the background of the page to the papyrus pattern
set the default font to brown 20pt Georgia
make everything unclickable by default
*/
body{
    background-image: url("images/jungle.png");



    text-align: center;
    color: rgb(73, 38, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-color: rgba(255, 255, 255, 0.2);


    padding: 2% 0;

}

.centeredImages{
    display: flex;
    flex-direction: column;

}

img{
    display: block;
    width: 20vw;
    height: 20vw;

    border: groove 20px rgb(73, 38, 6);

    margin: 2% auto;
}

.current{
    animation: easeIn 1s ease;
}

@keyframes easeIn{
    0%{
        filter: blur(8px);
        transform: translateX(30px);
    }

    100%{
        filter: blur(0px);
        transform: translateX(0px);
    }

}


